$background:#2f3131;
$color:white;
$button_dark_background:#415652;
$button_color:#f0ea6e;
$cards_primary:#4dd5bc;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$control-height: 55px;
$theme-border-radius: 10px;
$theme-overlay-border-radius: 16px;
$blue-score: #2bb1ff;
$orange-score: #f58e39;
$theme-orange: #ea580c;
